{
    local_certs
    ocsp_stapling off
    pki {
        ca {
            # only available after caddy v2.6.3
            intermediate_lifetime 1800d
        }
    }
}

(sign) {
    tls {
        issuer internal {
            # more than 1 year may cause some problems
            lifetime 360d
        }
        # on_demand
    }
}

(rev) {
    lb_policy round_robin
    transport http {
        tls
        tls_insecure_skip_verify
    }
}

https://steamcommunity.com, https://www.steamcommunity.com, https://cdn.steamcommunity.com, https://store.steampowered.com, https://api.steampowered.com {
    import sign
    reverse_proxy * https://s.team https://steamuserimages-a.akamaihd.net https://steamstore-a.akamaihd.net https://steamcommunity-a.akamaihd.net https://steampipe.akamaized.net https://eaassets-a.akamaihd.net {
        import rev
        fail_duration 10s
        health_timeout 30s
    }
}

https://github.com, https://*.github.com {
    import sign
    reverse_proxy * https://140.82.113.3 https://140.82.113.4 https://20.205.243.166 https://20.27.177.113 {
        import rev
    }
}

https://github.io, https://*.github.io, https://githubusercontent.com, https://*.githubusercontent.com {
    import sign
    reverse_proxy * https://github.map.fastly.net {
        import rev
    }
}
